:root {
    --primary-color: #4CAF50;
    --secondary-color: #FF5722;
    --background-color: #333333;
    --text-color: #F5F5F5;
}
body {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
header {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    text-align: center;
}
header p {
    margin: 0;
    font-size: 0.6rem;
    text-align: right;
}
main {
    flex: 1;
    padding: 2rem;
    text-align: center;
}
main button {
    background-color: var(--secondary-color);
    width: 200px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 1rem 1rem;
}
main button:hover {
    background-color: #E64A19;
}
#oldWords {
    font-size: 0.7rem;
    margin: 1rem auto;
    max-width: 50%;
}
footer {
    background-color: var(--background-color);
}
.flex-container {
    display: flex;
}
.mittig {
    justify-content: center;
}
footer button {
    border: 2px solid var(--background-color);
    color: var(--background-color);
    background-color: lightgray;
    border-radius: 5px;
    cursor: pointer;
    font-size: 4rem;
    width: 100vw;
    height: 100vw / 4;
}